*{margin: 0;padding: 0;list-style: none;}

body{background: #ABCDEF;}

#header{width: 900px;height: 70px;font-size: 40px;
	    margin: 0 auto;text-align: center;
	    line-height: 70px;}

#content{width: 880px;height: 550px;background: gray;margin: 0 auto;padding: 10px}

#tools{height: 150px;}

#tools li{float: left;width: 175px;height: 140px;
	      text-align: center;background: #ccc;
	      border-right: 1px solid red}

#image{text-align: left;padding: 20px}
#image li{height: 30px;list-style:square inside;width: 100px;border: 0;}
#image li button{background: gray;border: 1px solid #000;}
#image li button:hover{background: gray;border: 1px solid #FFF;}

#means,#shape{padding: 20px;}
#means li,#shape li{height: 20px;width: 40px;border: 1px solid #000;
		  margin-top: 10px;}
#means li:hover,#shape li:hover{height: 20px;width: 40px;border: 1px solid #FFF;
		  		  margin-top: 10px;}
#means img,#shape img{width: 20px;height: 20px;}


#size{padding: 10px;}
#size li{height: 20px;width: 120px;border:1px solid #ccc;}
#size li:hover{height: 20px;width: 120px;border:1px solid #FFF;}

#color{padding: 25px;}
#color li{width: 20px;height: 20px;border: 1px solid #000;
		  margin-bottom: 10px;margin-right: 3px;}
#color li:hover{width: 20px;height: 20px;border: 1px solid #FFF;
		  		  margin-bottom: 10px;margin-right: 3px;}
#color #red{background: red;}
#color #green{background: green;}
#color #blue{background: blue;}
#color #yellow{background: yellow;}
#color #white{background: white;}
#color #black{background: black;}
#color #pink{background: pink;}
#color #purple{background: purple;}
#color #cyan{background: cyan;}
#color #orange{background: orange;}

#canvas{background: white;}
#canvas:hover{cursor: crosshair;}

#footer{width: 900px;height: 30px;margin: 0 auto;text-align: center;}